.search-city {
  background-color: gray;
}

.five-day-forecast {
  background-color: rgb(244, 244, 244);
  width: 100%;
}

.five-day-row {
  display: inline-block;
  vertical-align: top;
  flex: content;
}
