.search-city {
  background-color: gray;
}

.five-day-forecast {
  display: inline-block !important;
  vertical-align: top !important;
  background-color: rgb(244, 244, 244);
  flex: auto;
}

.five-day-row {
  display: inline-block;
  vertical-align: top;
  flex: content;
}

/* .search-city {
  padding-top: 8%;
} */